body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(162, 238, 118), rgb(224, 218, 219));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#todoApp {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-top: 0;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 8px;
    background-color: #f8f9fa;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}

li button {
    background-color: transparent;
    border: none;
    color: #ad3e49;
    cursor: pointer;
}

li button:hover {
    color: #c82333;
}
